<header>
  <h1>Welcome!</h1>
  <h2>Please Sign In:</h2>
</header>

<main>
  <%= render partial: 'partials/login_form', locals: { submit_text: 'Sign In' } %>
  <p>New Here? <%= link_to 'Sign Up Here.', new_user_path %></p>
</main>
